.navbar-section {
    background-color: var(--color2);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 3.5rem;
}

.navbar {
    margin: auto 5rem;
    background-color: var(--color2);
}

nav .navbar-nav li a{
    color: var(--color1) !important;
}

nav .navbar-nav li a:hover{
    color: var(--color3) !important;
}

nav a.navbar-brand {
    color: var(--color1) !important;
}

nav a.navbar-brand:hover {
    color: var(--color4) !important;
    transition:color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out !important;
}

#footer {
    padding: 1rem;
    background-color: var(--color2);
    text-align: center;
}

#dummy-header-section {
    height: 3.5rem;
}